body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bolder;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
   font-size: 3.5rem;
   color: goldenrod;
}

.choices {
   margin-bottom: 30px;

}

.choices button {
   font-size: 7.5rem;
   min-width: 160px;
   margin: 0px;
   border-radius: 350px;
   background-color: hsl(200, 100%, 50%);
   cursor: pointer;
   transition: background-color 0.75s ease;
}


.choices button:hover {
   background-color: hsl(200, 100%, 81%);
}

#playerDisplay,
#computerDisplay {
   font-size: 2.5rem;
}

#resultDisplay {
   font-size: 5rem;
   margin: 30px 0px;
}


.greenText,
#playerScoreDisplay {
   color: hsl(120, 85%, 35%);
}

.redText,
#computerScoreDisplay {
   color: hsl(0, 100%, 50%);
}

.scoreDisplay {
   font-size: 2rem;
}

#timer {
   font-size: 1.5em;
   font-weight: bold;
   margin-bottom: 10px;
}

#trophy {
   color: gold;
   font-weight: bold;
}